@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #1a1d23;

    --card: #ffffff;
    --card-foreground: #1a1d23;

    --popover: #ffffff;
    --popover-foreground: #1a1d23;

    --primary: #3498db;
    --primary-foreground: #ffffff;

    --secondary: #2ecc71;
    --secondary-foreground: #1a1d23;

    --muted: #95a5a6;
    --muted-foreground: #1a1d23;

    --accent: #e74c3c;
    --accent-foreground: #ffffff;

    --destructive: #e74c3c;
    --destructive-foreground: #ffffff;

    --border: #d1d5db;
    --input: #ffffff;
    --ring: #3498db;

    --radius: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
    font-family: "Roboto", sans-serif;
  }
}

@layer components {
  .primary-button {
    @apply bg-blue-500 hover:bg-blue-700 text-white py-2 px-6 rounded-lg transition-colors;
  }

  .tab-active {
    @apply text-blue-500 border-b-2 border-blue-500;
  }

  .tab-inactive {
    @apply text-gray-500 hover:text-gray-700 border-b-2 border-transparent hover:border-gray-300;
  }

  .input-field {
    @apply p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
  }
}

#toast-container-main {
  @apply fixed top-20 right-12 z-50 flex flex-col w-64;
}

#toast-container-main > div {
  @apply bg-gray-200 text-gray-900 w-full mb-4 p-4 rounded-lg shadow-md;
  animation: slide-in 0.2s;
  transition: all 0.3s ease;
}

@keyframes slide-in {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
